.about-section {
  position: relative;
  width: 80%;
  margin: 60px auto;
  height: 800px;
}
.about-section h1 {
  position: absolute;
  top: 20px;
  right: 80px;
	font-size: 10rem;
  z-index: -1;
  color: rgba(44,68,153,.09);

}

.about-section img {
  width: 80%;
}

.about-section div {
  position: absolute;
  right: 0px;
  bottom: 40px;
	width: 40%;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
	border-radius: 10px;
	padding: 35px;
	box-sizing: border-box; 
}

.about-section div > img {
  width: 13%;
}

.about-section div > p {
  color: #00C275;
  font-size: 1.4rem;
  font-weight: 700;
}

.about-team-players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;

}

.about-team-players-text-container {
  width: 30%;
}
.about-team-players-text-container h3 {
  color: #1FBF7A;
  font-size: 2.4rem;
  font-weight: 700;
  width: 60%
}

.about-team-players-text-container p{
  color: #09237E;
}

.about-team-players img {
  width: 45%;
}

.about-text-section {
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px auto;
}

.about-text-container {
  width: 30%;
  display:flex;
  align-items: flex-start;
}
.about-text-container img{
  width: 15%;
  margin-right: 15px;
}

.about-text-container div > h3 {
  color: #1B2397;
  font-size: 2rem;
  font-weight: 700;
}

.about-text-container div > p {
  color : #2C4499;
  
}