.footer-container {
  background-color: rgba(44,68,153,0.06);
  margin-bottom: 0;
  margin-top: 150px;
  padding: 2.5vw 0;
}
.footer-container .row {
    display: flex;
    justify-content: space-between;
}
.footer-container i {
    color: #1FBF7A;
    padding-right: 10px;
}
.footer-container h6 {
  color: #2C4499;
  font-size: 0.95rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.logo-container p, .logo-container p > a{
  color: #2C4499;
  font-size: 0.85rem;
}

.logo-container img {
  width: 50%;
  margin-bottom: 15px;
  max-width: 135px;
}

.footer-icon-container p{
  color: #2C4499;
  font-size: 0.85rem;
}

.footer-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.footer-icon-container {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.footer-icon-container img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.connect-container .contact-container {
  margin-top: 15px;
}
@media(max-width:1200px){

}
@media(max-width:992px){
  .logo-container img {
    display: none;
  }
  .footer-container {
    padding: 30px 2%;
  }
  .footer-container .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-container .row > div {
    flex: 1 0 50%;
  }
  .footer-container .row div.logo-container{
    flex: 0 1 100%;
  }

}

@media(max-width:576px){

  .contact-form-container {
    width :90%;
  }
  .footer-container {
    margin-top:50px;
  }
  .footer-container p, .footer-container p > a {
    font-size: 14px;
  }
  .footer-content-row {
    width: 95%;
    /* flex: 1 1 25%; */
    flex-wrap: wrap;
  }
  .logo-container {
    flex: 1 0 30%;
    order: 1;
    margin: 0px 10px;
  }
  .logo-container img{
    display: none;

  }
  .connect-container {
    display: flex;
    flex: 1 0 50%;
    order:3;
    flex-direction: row;
    margin: -10px 10px 0px 10px;
  }
  .connect-container h6 {
    display: none;
  }
  .connect-container div > p {
    display: none;
  }

  .contact-container{
    flex: 1 0 30%;
    order:2;
  }
  .footer-container h6 {
    margin-bottom: 5vw;
  }
  .contact-container .footer-icon-container {
    margin-top: -4.5vw;
  }
  .footer-icon-container img{
    width:4vw;
    height: 3.5vw;
  }

}
