/* SECTION 1 */
.introduction-banner .row {
    display: flex;
    align-items: center;
}
.introduction-banner .row > div {
    width: 50%;
}
.introduction-banner img {
    max-width: 600px;
    width: 100%;
}
.introduction-banner h1 {
    margin-bottom: 30px;
    line-height: 110%;
}
.introduction-banner h6{
    line-height: 145%;
    margin-bottom: 30px;
}
.introduction-banner .txt {
    padding-right: 80px;
}

/* FEATURES */
.intro-features {
    position: relative;
    margin-bottom: 60px;
}
.intro-features h2{
    position: absolute;
    font-size: 8rem;
    transform: translateX(-50%);
    left: 50%;
    color: rgba(44,68,153,.09);
    top: 0px;
}
.intro-features .row{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}
.intro-features .row > div{
    width: 32.2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
    border-radius: 10px;
    padding: 40px 40px 50px;
    display: flex;
    flex-wrap: wrap;
}
.intro-features .row > div p {
    margin-bottom: 30px;
}
.intro-features .title img{
    max-width: 40px;
    margin-right: 12px;
}
.intro-features .title {
    display: flex;
    align-items: center;
}
.intro-features h4{
    color: #2C4499;
}
.intro-features .btn-01{
    align-self: flex-end;
}


/* USER STORIES */
.intro-user-stories {
    padding: 50px 0;
}
.intro-user-stories .stories{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.intro-user-stories .stories > div {
    width: 50%;
}
.intro-user-stories h3 {
    font-size: 40px;
    color: #1FBF7A;
}
.intro-user-stories .txt {
    padding: 0 60px;
}
.story-2 div:first-child {
    order: 2;
    align-self: center;
    /* justify-content: flex-end; */
}

.intro-user-stories img{
    max-width: 560px;
}

/* TESTIMONIALS */
.testimonials {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}
.testimonials h4 {
    color: #29429E;
    margin-bottom: 40px;
}
.testimonials img{
    max-width: 835px;
}
span.name {
    font-weight: 700;
    display: block;
    color: #29429E;
    text-transform: uppercase;
}
span.role {
  color: #1FBF7A;
}
.testimonials .item {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.testimonials p {
    position: relative;
    margin-bottom: 30px;
}
.testimonials p::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -16px;
    width: 60px;
    height: 5px;
    background-color: #00C275;
    transform: translateX(-50%);
}

/* SECTION DEMO */
.demo-background {
    background: #29429E;
    box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
    border-radius: 10px;
    padding: 60px 60px 60px;
    position: relative;
}
.demo-background .txt {
    max-width: 420px;
    position: relative;
    z-index: 1;
}
.demo-background h3 {
    color: #fff;
}
.demo-background p {
    color: #fff;
    opacity: 0.6;
    margin-bottom: 60px;
}
.demo-background img {
    max-width: 790px;
    position: absolute;
    right: -50px;
    top: 30px;
}
@media(max-width:1350px){
  .introduction-banner h1 {
    font-size: 45px;
  }
  .introduction-banner h6 {
    font-size: 16px;
  }
  .demo-background {
    padding: 60px 60px 60px;
  }
  .demo-background img {
    max-width: 740px;
  }
  .demo-background p {
    margin-bottom: 40px;
  }
}
@media(max-width:1200px){
  /* USER STORIES */
  .intro-user-stories h3 {
    font-size: 30px;
  }
  /* DEMO */
  .demo-background .txt {
    max-width: 320px;
  }
  .demo-background img {
    max-width: 640px;
    top: 60px;
  }

}
@media(max-width:992px){
  .introduction-banner h1 {
    font-size: 40px;
  }
  /* FEATURES */
  .intro-features {
    margin-bottom: 20px;
  }
  .story-2 img {
    align-self: center;
    object-fit: contain;
  }
  /* USER STORIES */
  .intro-user-stories .txt {
    padding: 0 40px;
  }
  /* DEMO */
  .demo-background .txt {
    max-width: 100%;
    text-align: center;
  }
  .demo-background {
    padding: 60px 60px 0;
  }
  .demo-background img {
    position: relative;
    top: 20px;
    margin-bottom: -70px;
    right: inherit;
  }
  .demo-background p {
    max-width: 400px;
    margin: 20px auto 20px;
    padding: 0 20px;
  }
}
@media(max-width:768px){
  /* INTRODUCTION BANNER */
  .introduction-banner .row {
    flex-direction: column;
    text-align: center;
  }
  .introduction-banner .row > div {
    width: 100%
  }
  .introduction-banner .txt {
    padding-right: 0;
  }
  .introduction-banner img {
    max-width: 520px;
    margin: 60px 0 20px;
  }

  /* FEATURES */
  .intro-features .row {
    flex-direction: column;
    padding-top: 60px;
  }
  .intro-features .row > div {
    width: 100%;
    margin-bottom: 20px;
  }
  .intro-features h2 {
    font-size: 4rem;
  }

  /* USER STORIES */
  .intro-user-stories {
    padding: 20px 0 0;
  }
  .intro-user-stories .stories > div {
    width: 100%;
  }
  .intro-user-stories .stories {
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
  }
  .intro-user-stories .txt {
    padding: 0px;
  }
  .story-2 div:first-child {
    order: 0;
    justify-content: center;
  }
  .intro-user-stories img {
    max-width: 430px;
    margin-bottom: 10px;
  }
  .story-3 img{
    margin-bottom: 40px;
  }
  .intro-user-stories .btn-01::before {
    left:50%;
    transform: translateX(-50%);
  }
}
@media(max-width:576px){
  .intro-features .row > div {
    padding: 30px 30px 40px;
  }
  .demo-background {
    padding: 40px 0 0;
  }
  .introduction-banner h1 {
    font-size: 30px;
    margin: 50px 0 40px;
  }
  .demo-wrap {
    margin-bottom: 130px;
  }
}
@media(max-width:380px){

}
