* {
    font-family: 'Montserrat', sans-serif;
    color: #7B7B7B;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.nav-logo {
    max-width: 150px;
}
.row {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}
img {
    width: 100%;
}
a, a:hover {
    text-decoration: none;
}
dl, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 55px;
    font-weight: 700;
    color: #2B459C;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 22px;
    font-weight: 700;
}
h6 {
    font-size: 18px;
    font-weight: 400;
}
p {
    line-height: 140%;
}
/* MENU */
.menu {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10;
}
.menu .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -ms-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
nav ul {
    display: flex;
}
nav ul li a{
    padding: 15px 40px 15px 0;
}
nav ul li:last-child{
    padding-right: 0;
}
.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
    margin-top: 10px;
    border-radius: 10px;
    max-width: 330px;
}
.submenu li a{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}
.submenu li a:hover {
    background-color: rgba(0, 194, 117, 0.1);
}
.submenu li:last-child  a{
    border-bottom: 0px;
}
nav li:hover ul.submenu{
    display: block;
}
.submenu p {
    margin: 8px;
    width: calc(100% - 70px);
}
.submenu .nav-icon {
    background-color: rgba(0, 194, 117, 0.1);
    height: 42px;
    width: 42px;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 15px;
}
.submenu span {
    font-size: 0.8rem;
    line-height: 145%;
    display: inline-block;
    opacity: 0.7;
}
.menu .scroll-menu{
    padding: 20px 0;
}

.container {
    padding-top: 109px;
}

/* BUTTONS */
.btn-01 {
    font-weight: 700;
    color: #2C4499;
    display: inline-block;
    position: relative;
}
.btn-01::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 70%;
    height: 5px;
    background-color: #00C275;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}
.btn-01:hover::before {
    width: 100%;
}
.btn-02 {
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid #1FBF7A;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    padding: 12px 40px;
    display: inline-block;

}
.btn-03 {
    background: #1FBF7A;
    border: 2px solid #1FBF7A;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    padding: 12px 40px;
    display: inline-block;

}
