.row h1{
  position: fixed;
  color: rgba(44,68,153,0.3);
  font-size: 4vw;
  z-index: -1;
  top:30%;
  left:50%;
  transform: translateX(-50%);
}

.row h3 {
  margin: 50px 0px 10px;
  color: #00C275;
  font-size: 16px;

}
.row p {
  margin: 0px;
}

@media(max-width: 1200px){
  .row h1 {
    font-size: 6vw;
    width: 60%;
  }
}

@media(max-width: 768px){
  .row h1 {
    font-size: 8vw;
    width: 82%;
  }
}

@media(max-width: 576px){
  .row h1{
    font-size: 9vw;
  }
}
