.story-container {
  width: 80%;
  margin: 0px auto;
  position: relative;
}

.background-line {
  position: absolute;
  /* background-color: #A2ACD2; */
  background-image: linear-gradient(to top,#a2acd200 0,#a2acd252 10%,#A2ACD2 100%);
  width: 1px;
  top: 248px;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.background-circle-container {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  height: 80px;
  width: 80px;
}
.inner-circle {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(101, 127, 221, 1);

}
.middle-circle {
  position: absolute;
  top:15px;
  left:15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(44,68,153,.08);
}
.outer-circle {
  position: absolute;
  top:0px;
  left:0px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color:rgba(44,68,153,.06);
}

.story-point-container, .story2-point-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.story-intro {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.intro-img {
  width: 35vw;

}

.story-intro div {
  width: 45%;
}
.story-intro p {
  color: #2C4499;
  font-size: 2.1vw;
  font-weight:800;
  margin-left: 50px;
}

.story-point-container img {
  width: 25vw;
}

.story2-point-container img {
  width: 35vw;

}

.speech-bubble {
  position: relative;
  background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
	border-radius: 8px;
	padding: 2.3vw 2vw;
  box-sizing: border-box;
  display:flex;
  align-items: flex-start;
  width: 30vw;
}
.speech-bubble p {
  color: #2C4499;
  font-size:1vw;
  padding: 0;
  margin: 0;
}
.speech-bubble img {
  margin-right: 1.5vw;
  width: 4vw;
}

.speech-left:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 30px solid #FFFFFF;
  border-right: 30px solid transparent;
  border-top: 30px solid #FFFFFF;
  border-bottom: 30px solid transparent;
  right: -50px;
  top: 0px;
  border-radius: 5px;
}

.speech-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 40px solid rgba(44, 68, 153, 0.09);
  border-right: 40px solid transparent;
  border-top: 40px solid rgba(44, 68, 153, 0.09);
  border-bottom: 40px solid transparent;
  right: -60px;
  top: -3px;
  border-radius: 5px;
  filter: blur(5px);
  z-index: -1;
}

.speech-right:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid #FFFFFF;
  border-top: 30px solid #FFFFFF;
  border-bottom: 30px solid transparent;
  left: -50px;
  top: 0px;
  border-radius: 5px;
}

.speech-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 40px solid transparent;
  border-right: 40px solid rgba(44, 68, 153, 0.09);
  border-top: 40px solid rgba(44, 68, 153, 0.09);
  border-bottom: 40px solid transparent;
  left: -60px;
  top: -3px;
  border-radius: 5px;
  filter: blur(5px);
  z-index: -1;
}

.left {
  padding-left: 3vw;
}

.circle1 {
  top: 200px;
}

.circle2{
top: 7vw;
}

.circle3 {
top: 0vw;
}

.circle4 {
  top: -1.4vw;

}

.circle5{
  top: 1vw;
}

.story2-container2 {
  margin-top: -10vw;
}
