.container .row {
  max-width: 1150px;
}
.story-container {
  margin: 0px auto;
  position: relative;
}
.story-container .story-container2 {
  margin-top: 80px;
}
.background-line {
  position: absolute;
  /* background-color: #A2ACD2; */
  background-image: linear-gradient(to top,#a2acd200 0,#a2acd252 10%,#A2ACD2 100%);
  width: 1px;
  top: 248px;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.background-circle-container {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  height: 80px;
  width: 80px;
  z-index: 3;
}
.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(101, 127, 221, 1);
  transform: translate(-50%,-50%);

}
.middle-circle {
  position: absolute;
  top:50%;
  left:50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(44,68,153,.08);
  transform: translate(-50%,-50%);
}
.outer-circle {
  position: absolute;
  top:50%;
  left:50%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color:rgba(44,68,153,.06);
  transform: translate(-50%,-50%);
}

.story-point-container, .story2-point-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 150px;
}

.story-intro {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.intro-img {
  max-width: 500px;
  width: 50%;

}

.story-intro div {
  width: 45%;
}
.story-intro p {
  color: #2C4499;
  font-size: 30px;
  font-weight:800;
  margin-left: 50px;
}

.story-point-container img {
  max-width: 380px;
  width: 50%;
}
.story-point-container img.img-bigger {
  max-width: 500px;
}
.story-point-container img.img-smaller {
  max-width: 300px;
}
.story2-point-container img {
  width: 35vw;

}

.speech-bubble {
  position: relative;
  background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
	border-radius: 8px;
	padding: 30px 40px;
  box-sizing: border-box;
  display:flex;
  align-items: flex-start;
  width: 90%;
  max-width: 450px;
}
.speech-bubble p {
  color: #2C4499;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.speech-bubble img {
  margin-right: 1.5vw;
  max-width: 65px;
}

.speech-left:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 30px solid #FFFFFF;
  border-right: 30px solid transparent;
  border-top: 30px solid #FFFFFF;
  border-bottom: 30px solid transparent;
  right: -50px;
  top: 0px;
  border-radius: 5px;
}

.speech-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 40px solid rgba(44, 68, 153, 0.09);
  border-right: 40px solid transparent;
  border-top: 40px solid rgba(44, 68, 153, 0.09);
  border-bottom: 40px solid transparent;
  right: -60px;
  top: -3px;
  border-radius: 5px;
  filter: blur(5px);
  z-index: -1;
}

.speech-right:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid #FFFFFF;
  border-top: 30px solid #FFFFFF;
  border-bottom: 30px solid transparent;
  left: -50px;
  top: 0px;
  border-radius: 5px;
}

.speech-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 40px solid transparent;
  border-right: 40px solid rgba(44, 68, 153, 0.09);
  border-top: 40px solid rgba(44, 68, 153, 0.09);
  border-bottom: 40px solid transparent;
  left: -60px;
  top: -3px;
  border-radius: 5px;
  filter: blur(5px);
  z-index: -1;
}

.left {
  padding-left: 3vw;
}

.circle1 {
  top: 200px;
}

.circle2{
  top: 0;
}

.circle3 {
top: 0vw;
}

.circle4 {
  top: 0vw;

}

.circle5{
  top: 0vw;
}

.story2-container2 {
  margin-top: -10vw;
}

@media(max-width:1200px){
  .story-intro p {
    font-size: 25px;
  }
  .speech-bubble {
    width: 40%;
  }
  .story-point-container img {
    width: 40%;
  }
  .speech-bubble {
    flex-direction: column;
    padding: 30px 30px;
  }
  .speech-bubble img {
    height: 65px;
    width: 65px;
    margin-bottom: 15px;
  }
}
@media(max-width:992px){
  .story-intro p {
    font-size: 22px;
  }
  .circle1 {
    top: 150px;
  }
  .background-line {
    top: 200px;
  }
}
@media(max-width:768px){
  .background-line {
    left: 1%;
  }
  .circle1 {
    left: 1%!important;
    top: 150px!important;
  }
  .background-circle-container {
    left: -10%;
    width: 60px;
    height: 60px;
    top:0;
  }
  .inner-circle {
    height: 15px;
    width: 15px;
  }
  .middle-circle {
    height: 40px;
    width: 40px;
  }
  .story-intro {
    display: block;
    flex-direction: column;
    text-align: center;
  }
  .intro-img {
    width: 80%;
    margin: 0 auto 20px;
  }
  .m-30{
    margin-top: -30px;
  }
  .story-intro div {
    width: 100%;
  }
  .speech-left:before, .speech-left:after, .speech-right:before, .speech-right:after {
    display: none;
  }
  .speech-bubble {
    box-shadow: none;
    width: 100%;
    order: 2;
  }
  .story-point-container {
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 30px;
  }
  .speech-bubble img {
    height: 50px!important;
    width: 50px!important;
    margin: 0 0 15px!important;
  }
  .story-intro p {
    margin: 0 0 40px 12%;
  }
  .story-point-container img {
    width: 80%;
    margin: 30px auto 0;
    object-fit: contain;
  }
  .iphone-01 {

  }

}
@media(max-width:576px){

}
@media(max-width:380px){

}
