.acquire-header {
	position: relative;
	background-image: url("/assets/img/features/featuresHeader.png");
	width: 100%;
	height: 50vh;
}

.grow-header {
	position: relative;
	background-image: url("/assets/img/features/featuresHeader.png");
	width: 100%;
	height: 60vh;
}
.retain-header {
	position: relative;
	background-image: url("/assets/img/features/featuresHeader.png");
	width: 100%;
	height: 60vh;
}

.value-feature-intro {
	position: absolute;
	top: 70%;
	right: 10%;
	width: 35vw;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
	border-radius: 10px;
	padding: 2.5vw;
	box-sizing: border-box;
}
.value-feature-intro h1 {
	color: #2C4499;
	font-size: 2rem;
}

.feature-header {
	display: flex;
	align-items: center;

}
.feature-icon {
	width: 3vw;
	margin-right: 1vw;
}
.features {
	margin-top: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.feature-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	align-self: center;
	margin-top: 50px;
}
.feature-row img{
  width: 40vw;
}
.text-container {
	width: 30vw;
	margin-left: 3vw;
	margin-top: -4vw;
}
.text-container img {
	margin-bottom: 1.2vw;
	width: 4vw;
}
.text-container h4{
	color: #2C4499;
	font-weight: 700;
}

.text-container p {
	color: #2C4499;
}
.other-feature-section {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 150px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;

}
.other-feature-header {
	position: absolute;
	top: -8vw;
	z-index: -1;
}

.other-feature-header h5{
	color: rgba(44,68,153,.09);
	font-size: 9vw;
}

.feature-preview-card {
	width: 30vw;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(44, 68, 153, 0.15);
	border-radius: 10px;
	padding:  3.5vw;
	box-sizing: border-box;
}
.feature-preview-card-header {
	display: flex;
	align-items: center;
}
.feature-preview-card-header img {
	width: 3vw;
	margin-right: 2vw;
}

.feature-preview-card-header h5 {
	color: #2C4499;
	font-size: 1.2rem;
	font-weight: 700;
}

@media(max-width: 1200px){
	.acquire-header .retain-header .grow-header {
		height: 30vh;
	}
	.value-feature-intro {
		width: 50vw;
		top:80%;
	}
}

@media(max-width:992px){
	.value-feature-intro {
		top:70%;
	}
	.features {
		margin-top: 20vw;
	}

}

@media(max-width: 576px){
	.value-feature-intro {
		width: 70vw;
		padding: 3vw 3vw 0px 5vw;
		right:5%;
		top: 70%;
	}
	.feature-header img {
		width: 10vw;
		margin-right: 15px;
	}
	.feature-header h1 {
		font-size:  1.5rem;
	}

	.feature-row {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	.feature-row img {
		order: 2;
		width: 100%;
	}
	.headLine-container {
		display:flex;
		flex-direction: row;
		align-items: center;
	}

	.headLine-container > img {
		order: 1;
		max-width: 10vw;
		margin-right:10px;
		
	}
	.headLine-container h4 {
		order:2;
	}
	.text-container {
		order:1;
		width: 100%;
		margin-left: 0px;
	}	

	.text-container p {
		align-self: center;
		margin: 10px 0px 15px 10px;
	
	}
	.other-feature-section {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: 80px;

	}
	.feature-preview-card {
		width:90%;
		padding:  3.5vw 3.5vw 6vw 3.5vw ;
		margin-bottom: 30px;
	}
	.feature-preview-card-header img {
		width: 7vw;
		margin-right:10px;
	}
}

@media(max-width: 340px){
	.value-feature-intro {
		width: 90%;
	}
	.features {
		margin-top:35vw;
	}
	.headLine-container h4 {
		font-size: 1.3rem;
	}
}
